.settings
wp-admin
wp-includes
.buildpath
.htaccess
.project
wp-*.php
*.txt
readme.html
/index.php
xmlrpc.php
wp-content/plugins/*
wp-content/themes/*
wp-content/uploads/*
wp-content/index.php
!wp-content/themes/simplelin
!wp-content/themes/simplelin-child


#nodemodules
node_modules

#duplicator files

.ftpquota
.htaccess.170826075032.orig
.well-known/
20170826_altium_0dd6fac430e476804284170826073813_archive.zip
403.shtml
404.shtml
database.sql
installer-backup.php
installer-data.sql
installer.php
web.config
wp-cli.yml
wp-config.php.bak.a2
wp-snapshots/

# duplicator files

